<div class="today-navigation">
  <div><a href="#recent-matches" class="default-color">Posledné zápasy</a></div>
  <div><a href="#planned-matches" class="default-color">Zápasy na pláne</a></div>
  <div><a href="#race" class="default-color">Nominácie PLAY OFF</a></div>
</div>
