<section id="intro" class="p-8 bg-green-600">
  <h2 class="text-4xl text-right text-yellow-400 py-2 lg:text-6xl lg:text-center">
    Topoľčianska tenisová<br>amatérska liga.
  </h2>
  <div class="text-5xl text-left text-white pt-8 lg:py-12 lg:text-center lg:text-7xl">
    <h1 class="p-2 bg-green-700 inline-block">TOtal.</h1>
  </div>
  <div class="underline text-white pt-6">
    <div class="py-1"><a href="#recent-matches">Posledné zápasy</a></div>
    <div class="py-1"><a href="#planned-matches">Zápasy na pláne</a></div>
    <div class="py-1"><a href="#race">Nominácie PLAY OFF</a></div>
  </div>

</section>

<section id="recent-matches" class="min-h-screen p-8 bg-yellow-400">
  <% if true # || @recent_matches.any? %>
    <h2 class="text-6xl p-1 text-green-600">Čo sa najnovšie odohralo?</h2>
    <div class="table-container">
      <table>
        <thead>
        <tr>
          <th></th>
          <th>Víťaz</th>
          <th>Výsledok</th>
          <th>Porazený</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>17. máj</td>
          <td>Tomáš Radič</td>
          <td>6:4, 6:1</td>
          <td>Natália Petrášová</td>
        </tr>
        <tr>
          <td>15. máj</td>
          <td>Michal Bihary</td>
          <td class="border-white border-solid border-t-4">6:2, 6:2</td>
          <td>Slavo Kutňanský</td>
        </tr>
        <tr>
          <td>14. máj</td>
          <td>Tomáš Horváth</td>
          <td class="border-white border-solid border-t-4">7:6, 6:3</td>
          <td>Ľubo Hollan</td>
        </tr>
        </tbody>
      </table>
    </div>
    <p class="text-center pt-6">
      <a href="#" class="underline">
        Všetky zápasy
      </a>
    </p>
  <% else %>
    <p class="p-8 text-center">Žiadne zápasy sa v poslednej dobe nehrali.</p>
    <p class="p-2 text-center">
      <a href="#" class="bg-red-500 hover:bg-red-700 text-white py-3 px-4 rounded-sm">
        Zavolaj niekoho hrať!
      </a>
    </p>
  <% end %>
  <div class="underline pt-6">
    <div class="py-1"><a href="#navbar">Hore</a></div>
    <div class="py-1"><a href="#planned-matches">Zápasy na pláne</a></div>
    <div class="py-1"><a href="#race">Nominácie PLAY OFF</a></div>
  </div>
</section>

<section id="planned-matches" class="min-h-screen p-8 lg bg-red-300">
  <% if true #|| @recent_matches.any? %>
    <h2 class="text-5xl p-1 text-white text-right">Zápasy, ktoré uvidíme.</h2>
    <div class="table-container">
      <table>
        <thead>
        <tr>
          <th class="">Vyzývateľ</th>
          <th class="">Vyzvaný</th>
          <th class="">Info</th>
          <th class=""></th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td class="">Tomáš Radič</td>
          <td class="">Natália Petrášová</td>
          <td class="">10. máj<br>10:00</td>
          <td class="">Mravenisko</td>
        </tr>
        <tr>
          <td class="">Michal Bihary</td>
          <td class="">Slavo Kutňanský</td>
          <td class=" border-white border-solid border-t-4">12. máj<br>16:30</td>
          <td class="">kúpalisko</td>
        </tr>
        <tr>
          <td class="">Tomáš Horváth</td>
          <td class="">Ľubo Hollan</td>
          <td class=" border-white border-solid border-t-4">14. máj<br>13:00</td>
          <td class="">Mravenisko</td>
        </tr>
        </tbody>
      </table>
    </div>
    <p class="text-center pt-6">
      <a href="#" class="underline">
        Všetky zápasy
      </a>
    </p>
  <% else %>
    <p class="p-8 text-center">Nikto neplánuje hrať zápas.</p>
    <p class="p-2 text-center">
      <a href="#" class="bg-red-500 hover:bg-red-700 text-white py-3 px-4 rounded-sm">
        Vyzvi niekoho!
      </a>
    </p>
  <% end %>
  <div class="underline pt-6">
    <div class="py-1"><a href="#navbar">Hore</a></div>
    <div class="py-1"><a href="#recent-matches">Posledné zápasy</a></div>
    <div class="py-1"><a href="#race">Nominácie PLAY OFF</a></div>
  </div>
</section>

<section id="race" class="min-h-screen p-8 bg-red-800 text-white">
  <% if true #|| @top_ranked_players.any? %>
    <h2 class="text-5xl p-1 text-yellow-400">Najväčší králi.</h2>
    <div class="table-container">
      <table>
        <thead>
        <tr>
          <th></th>
          <th></th>
          <th>Body</th>
          <th>% výhier</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>1.</td>
          <td>Michal Bihary</td>
          <td>17</td>
          <td>87%</td>
        </tr>
        <tr>
          <td class="border-yellow-400 border-solid border-t-4">2.</td>
          <td>Marek Kudela</td>
          <td>17</td>
          <td>72%</td>
        </tr>
        <tr>
          <td class="border-yellow-400 border-solid border-t-4">3.</td>
          <td>Braňo Lištiak</td>
          <td>16</td>
          <td>93%</td>
        </tr>
        <tr>
          <td class="border-yellow-400 border-solid border-t-4">4.</td>
          <td>Igor Malinka</td>
          <td>15</td>
          <td>84%</td>
        </tr>
        <tr>
          <td class="border-yellow-400 border-solid border-t-4">5.</td>
          <td>Jarik Šípoš</td>
          <td>14</td>
          <td>66%</td>
        </tr>
        <tr>
          <td class="border-yellow-400 border-solid border-t-4">6.</td>
          <td>Ivan Šlosár</td>
          <td>14</td>
          <td>62%</td>
        </tr>
        <tr>
          <td class="border-yellow-400 border-solid border-t-4">7.</td>
          <td>Braňo Milata</td>
          <td>13</td>
          <td>69%</td>
        </tr>
        <tr>
          <td class="border-yellow-400 border-solid border-t-4">8.</td>
          <td>Juro Sulík</td>
          <td>11</td>
          <td>70%</td>
        </tr>
        <tr class="text-gray-500 border-yellow-400 border-solid border-t-4">
          <td>9.</td>
          <td>Tomáš Dobek</td>
          <td>10</td>
          <td>54%</td>
        </tr>
        <tr class="text-gray-500">
          <td class="border-yellow-400 border-solid border-t-4">10.</td>
          <td>Tomáš Korytár</td>
          <td>9</td>
          <td>81%</td>
        </tr>
        </tbody>
      </table>
    </div>
    <p class="p-2 text-center lg:pt-4">
      Králi s bielou farbou sú aktuálne nominovaní na PLAY OFF.
      Tí šedí, to sú princovia, majú najväčšiu šancu sa do PLAY OFF dostať.
    </p>
    <p class="text-center">
      <a href="#" class="py-3 px-4 underline">
        Celý rebríček
      </a>
    </p>
  <% else %>
    <p class="p-8 text-center">Nie sú prihlásení žiadni hráči.</p>
    <% if true # manager_signed_in? %>
      <p class="p-2 text-center">
        <a href="#" class="bg-red-500 hover:bg-red-700 text-white py-3 px-4 rounded-sm">
          Administrácia
        </a>
      </p>
    <% end %>
  <% end %>
  <div class="underline pt-6">
    <div class="py-1"><a href="#navbar">Hore</a></div>
    <div class="py-1"><a href="#recent-matches">Posledné zápasy</a></div>
    <div class="py-1"><a href="#planned-matches">Zápasy na pláne</a></div>
  </div>
</section>