<% if selected_season.present? && @tournaments.first.present? %>
  <div class="tiles">
    <% @tournaments.each do |tournament| %>
      <%= render "tournaments/tile", tournament: tournament %>
    <% end %>
  </div>
<% else %>
  <p class="my-5 py-5 text-center">Nie sú vypísané zatiaľ žiadne turnaje.</p>
<% end %>
