<% if selected_season.present? && @tournaments.any? %>
  <div class="tournaments">
    <div class="tournaments__tiles">
      <% @tournaments.each do |tournament| %>
        <%= render "tournaments/tournament", tournament: tournament %>
      <% end %>
    </div>
  </div>

<% else %>
  <p class="my-5 py-5 text-center">Nie sú vypísané zatiaľ žiadne turnaje.</p>
<% end %>
