<footer class="text-center">
  <p class="my-2">
    <%= gravatar_image_tag("tomas.radic@gmail.com", alt: "Tomáš Radič", class: "rounded-circle") %>
  </p>
  <p class="my-2 u-nav-green">
    Tomáš Radič<br>
    autor webu<br>
  </p>
  <p class="my-2">
    <%= link_to "Github", "https://github.com/tomas-radic", class: "u-nav-green", target: :_blank %><br>
    <%= link_to 'tomas.radic@gmail.com', 'mailto:tomas.radic@gmail.com', class: "u-nav-green" %><br>
    <%= link_to '0905 289 248', 'tel:0905289248', class: "u-nav-green" %>
  </p>
</footer>
