<% if players.any? %>
  <h3 class="inline-block text-xl md:text-2xl text-white pt-2 mt-8 border-t border-white">
    Niekto hľadá súpera na zápas!
  </h3>
  <div class="text-sm md:text-lg text-center pt-2">
    <ul>
      <% players.each do |player| %>
        <li>
          <%= link_to player.name, player_path(player), class: "underline" %>
          hľadá niekoho už od
          <%= app_date(player.open_to_play_since) %>
        </li>
      <% end %>
    </ul>
  </div>
<% end %>
