<div class="about page__content">
  <h2 class="about__heading u-fs-giant text-center">O súťaži</h2>

  <section class="about__text">
    <div class="about__brand">TOtal.</div>

    <p class="u-text-justify">
      Topoľčianska tenisová amatérska liga "TOtal" sa vo svojich prvých rokoch odohrávala na kurtoch spojených s topoľčianskym kúpaliskom. Po skončení vyzývacej "papierovej pyramídy" v TK na Mravenisku bola v rokoch 2014-2018 jedinou aktívnou amatérskou tenisovou súťažou v meste. Pod vedením Miloša Gešnábela a neskôr Andreja Goleja si za tie roky získala stabilnú hráčsku základňu. Od roku 2019 sa táto liga hrá volne na ktorýchkoľvek kurtoch v meste podľa dohody hráčov.
    </p>

    <p class="u-text-justify">
      Systém ligy je jednoduchý a založený na dobrovolnej dohode dvoch výkonovo primeraných hráčov, že si chcú zahrať zápas. Každý hráč môže kedykoľvek vyzvať ľuvovolneho súpera a ten to môže, ale nemusí prijať. Bežne sa hrá na max. 3 štandardné sety, tzn. víťaz musí vyhrať 2 prvé sety, alebo sa hrá tretí set. Za každé víťazstvo má hráč bod. Hráči sú v rebríčku zoradení podľa: 1) počtu bodov a 2) %-ta svojich vyhratých zápasov. Na konci sezóny sa 8 (prípadne viac) najvyššie postavených hráčov rebríčka stretne v PLAY OFF - vyraďovacom pavúku a hrajú malý turnaj o celkového víťaza ročníka.
    </p>
  </section>
</div>