<div class="about page__content">
  <h2 class="about__heading u-fs-giant text-center">O súťaži</h2>

  <section class="about__text">
    <div class="about__brand">TOtal.</div>

    <p class="u-text-justify">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse ac enim nisi. Nullam rhoncus metus ac magna scelerisque, sit amet finibus nibh dignissim. Integer arcu quam, finibus nec consequat vitae, lacinia in elit. Nunc non pretium justo, sit amet vestibulum nisi. Aenean gravida pretium elit, eu aliquam lectus lacinia quis. Nulla condimentum efficitur orci sit amet consequat. Aliquam vitae nunc id erat venenatis finibus a sit amet lorem. Aliquam ut eleifend lectus. Praesent ullamcorper, leo non euismod aliquet, enim odio bibendum urna, auctor maximus lectus magna et ex. In hac habitasse platea dictumst. Sed ante turpis, hendrerit tristique semper eu, commodo a lorem.
    </p>

    <p class="u-text-justify">
      Aenean posuere, dolor sit amet congue laoreet, quam massa tincidunt nibh, eu pharetra mi diam at neque. Duis vulputate vehicula velit id imperdiet. Etiam venenatis vel sem non commodo. Duis elementum, velit vitae consequat imperdiet, eros lorem elementum tellus, id placerat lacus tortor nec orci. Maecenas eget dictum arcu, eget auctor quam. Sed bibendum vel elit sed ullamcorper. Maecenas orci eros, tempor at magna eu, accumsan blandit tellus. Mauris et mauris sodales, volutpat ligula eget, maximus ipsum. Morbi hendrerit ut turpis sit amet venenatis. Nam vel libero at eros viverra ultricies sit amet non ipsum. Fusce faucibus, nunc eu pretium viverra, velit velit porta orci, eu ultricies eros tortor at ipsum. Vivamus iaculis nibh non viverra scelerisque. Mauris at vulputate libero.
    </p>

    <p class="u-text-justify">
      Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Aliquam nec tellus placerat, euismod sem eu, lacinia est. Maecenas dapibus tortor at neque porta, ut mattis sem congue. Ut mattis dolor non porta facilisis. Nulla porttitor odio nec ante finibus, sit amet luctus quam laoreet. Fusce eget ipsum eu sapien lacinia tincidunt et sed purus. Praesent odio lectus, consequat et aliquam eu, luctus in dolor.
    </p>
  </section>
</div>