<div class="page__content">
  <h1 class="text-center my-5 py-5 u-fs-giant">404</h1>
  <p class="text-center u-fs-big">Asi sa to niekam stratilo.</p>
  <p class="text-center mx-lg-5 px-lg-5">
    Vráť sa <%= link_to "na začiatok", root_path %>
    a pohľadaj to znova, alebo si zapni &#127926; blues &#127928; a zabudni na to.
  </p>
  <p class="text-center mx-lg-5 px-lg-5">
    Ak kvôli tomu zle spíš,
    <%= link_to "zavolaj", 'tel:0905289248' %>
    alebo
    <%= link_to "napíš", 'mailto:tomas.radic@gmail.com' %>
    a vyriešime to pri &#127866; pive.
  </p>
</div>
