<%= turbo_frame_tag "tf_comment_#{@comment.id}_content" do %>
  <div class="mt-2">
    <%= render partial: "player/comments/form",
               locals: {
                 comment: @comment,
                 current_player: current_player,
               } %>
  </div>
<% end %>
