@import "tailwindcss/base";
@import "tailwindcss/utilities";
@import "tailwindcss/components";
@import "custom_tw_components.css";


html {
  scroll-behavior: smooth;
  position: relative;
  min-height: 100%;
}


body {
  @apply text-xl md:text-lg;
  font-family: 'Raleway', sans-serif;
  margin-bottom: 100px;
}


.page-heading {
  @apply text-4xl md:text-6xl p-1;
}


footer {
  position: absolute;
  bottom: 0;
  height: 100px;
}


.min-h-300px {
  min-height: 300px;
}


@media only screen and (min-width: 768px) {
  .md-min-w-290 {
    min-width: 290px;
  }

  .md-min-w-360 {
    min-width: 360px;
  }

  .md-max-w-500px {
    max-width: 500px;
  }
}
