
@import "bootstrap";

$color-nav-grey: #374251;
$color-nav-green: #6EE7B7;
$color-white: #FFFFFF;
$color-red: #F13B3B;
$color-base-green-bg: #079768;
$color-base-green-accent: #FBBF23;
$color-base-yellow-bg: #F5C54A;     // #F5C54A
$color-base-yellow-accent: #079768;
$color-base-salmon-bg: #FCA5A5;
$color-base-red-bg: #991B1B;
$color-base-red-accent: #FBBF23;
$color-brand-bg: #057856;
$color-silver: #D1D5DA;
$color-grey: #95989B;

$breakpoint-lg: 992px;
$breakpoint-md: 720px;

$navbar-height: 62px;


// RESET -----------------

input {
  font: inherit;
  border: none;
  background-color: initial;
}


button {
  border: none;
  background-color: initial;
  outline: none;
}

ul li {
  margin: 0;
  padding: 0;
  text-indent: 0;
  list-style-type: none;
}


// BASE STYLES ----------------

html {
  font-size: 100%; // 100% is 16px if browser font size is the default value, so normally 1rem = 16px, or 62.5% of 16px = 10px, so 1rem = 10px
  scroll-behavior: smooth;
}

.page {
  font-family: 'Raleway', sans-serif;

  @media (min-width: $breakpoint-lg) {
    font-size: 1.2rem;
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between;
    min-height: calc(100vh - $navbar-height);
  }

  &__main {

  }

  &__content {
    padding: 1rem;
  }

  &__footer {
    background-color: $color-nav-grey;
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
}


// STYLES ------------------

.navigation {
  background-color: $color-nav-grey;

  .navbar-dark .navbar-brand {
    color: $color-nav-green;
  }

  .navbar-dark .navbar-nav .nav-link {
    color: $color-white;
  }

  .dropdown-menu {
    background-color: $color-nav-grey;
    font-size: inherit;
  }

  .dropdown-item {
    color: $color-white;

    &:hover {
      background-color: inherit;
    }
  }

  .dropdown-divider {
    color: $color-white;
  }

  &__brand {
    font-size: 1.5rem;

    @media (min-width: $breakpoint-lg) {
      padding-left: 2rem;
      padding-right: 2rem;
    }

  }
}

.reload-matches-notice {
  background-color: $color-red;
  color: $color-white;
  text-align: center;
}

.base-heading {
  font-size: 2rem;
  margin-bottom: 2rem;

  @media (min-width: $breakpoint-md) {
    font-size: 2.6rem;
  }

  @media (min-width: $breakpoint-lg) {
    font-size: 3.4rem;
    margin-right: 1.5rem;
    margin-top: 1.3rem;
  }
}

.base-green {
  background-color: $color-base-green-bg;

  .accent-color {
    color: $color-base-green-accent;
  }

  .default-color {
    color: $color-white;
  }
}

.base-yellow {
  background-color: $color-base-yellow-bg;

  .accent-color {
    color: $color-base-yellow-accent;
  }

  .default-color {
    color: $color-nav-grey;
  }
}

.base-salmon {
  background-color: $color-base-salmon-bg;

  .accent-color {
    color: $color-white;
  }

  .default-color {
    color: $color-nav-grey;
  }
}

.base-red {
  background-color: $color-base-red-bg;

  .accent-color {
    color: $color-base-red-accent;
  }

  .default-color {
    color: $color-white;
  }
}

.today-navigation {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;

  & > * {
    margin-top: 0.3rem;
    margin-bottom: 0.3rem;
  }
}

.centered-table {
  width: 100%;
  line-height: 1.25rem;

  @media (min-width: $breakpoint-md) {
    max-width: 700px;
    margin: 0 auto;
    font-size: 1.2rem;
    line-height: inherit;
  }

  &__heading-row {
    font-size: 0.8rem;
    font-style: italic;

    @media (min-width: $breakpoint-md) {
      font-size: 1rem;
    }
  }

  td {
    padding: 0.4rem 0.1rem;
  }

  &__increased {
    font-size: 1.2rem;
    letter-spacing: 0.2rem;

    @media (min-width: $breakpoint-md) {
      font-size: 1.3rem;
    }
  }

  &__bordered {
    border-top: 6px solid $color-white;
  }
}

.today {
  //min-height: calc(100vh - $navbar-height);

  &__heading {
    font-size: 2.6rem;
    text-align: right;
    line-height: 2.8rem;
    padding: 3rem 1rem;

    @media (min-width: $breakpoint-md) {
      font-size: 3.7rem;
      line-height: 3.6rem;
    }

    @media (min-width: $breakpoint-lg) {
      font-size: 4rem;
      text-align: center;
      line-height: 3.8rem;
    }
  }

  &__brand {
    display: flex;

    &__link {
      display: inline-block;
      text-decoration: none;
      margin-bottom: 0.5rem;
      font-weight: 500;
      line-height: 1.2;
      box-shadow: 7px 5px 10px rgb(0 0 0 / 20%);
      padding: 0.4rem 0.6rem;
      background-color: $color-brand-bg;
      color: $color-white;
      font-size: 3rem;
      cursor: pointer;

      &:hover {
        color: $color-white;
        transform: rotate(-5deg) translateY(-6px);
      }

      @media (min-width: $breakpoint-lg) {
        font-size: 3.6rem;
      }
    }

    @media (min-width: $breakpoint-md) {
      justify-content: center;
    }


  }

  &__facade {
    min-height: calc(100vh - $navbar-height);
  }

  &__main {
    display: flex;
    align-items: start;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 1rem;

    .unconfirmed-matches {
      padding-top: 1rem;
      padding-bottom: 1rem;

      h3 {
        font-size: 2rem;
        text-align: center;

        @media (min-width: $breakpoint-lg) {
          text-align: right;
          font-size: 2.8rem;
        }
      }
    }

    .available-players {
      padding-top: 1rem;
      padding-bottom: 1rem;

      h3 {
        font-size: 1.2rem;
        font-style: italic;

        @media (min-width: $breakpoint-lg) {
          text-align: right;
          font-size: 1.7rem;
        }
      }
    }
  }

  &__content {
    width: 100%;
    box-shadow: 7px 5px 10px rgb(0 0 0 / 20%);

    @media (min-width: $breakpoint-lg) {
      width: initial;
      padding: 1rem 5rem 1rem 1rem;
    }
  }

  &__request-link {
    display: block;
    font-size: 0.95rem;
    color: $color-white;

    @media (min-width: $breakpoint-md) {
      font-size: 1.5rem;
    }
  }

  &__tournaments {
    margin-top: 1rem;

    &__heading {
      font-size: 2rem;
      text-align: center;

      @media (min-width: $breakpoint-lg) {
        font-size: 2.8rem;
        text-align: left;
      }
    }

    &__tiles {
      @media (min-width: $breakpoint-md) {
        display: flex;
        flex-wrap: wrap;
        align-items: stretch;
      }

      &__tile {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        border: 1px solid $color-white;
        padding: 1rem;
        margin-top: 0.5rem;
        text-align: center;

        @media (min-width: $breakpoint-md) {
          width: 360px;
          margin-left: 0.25rem;
          margin-right: 0.25rem;
        }

        &__link {
          text-decoration: none;
          cursor: pointer;
        }

        &__name {
          text-decoration: none;
          font-size: 2.7rem;
          font-weight: 900;
        }

        &__date {
          text-decoration: none;
        }

        &__enter {

        }
      }
    }
  }

  &__no-season {
    text-align: center;
    padding-top: 4rem;
    padding-bottom: 4rem;
  }
}

.today-recent {
  min-height: 100vh;
}

.today-planned {
  min-height: 100vh;
}

.today-race {
  min-height: 100vh;
}


// UTILITY CLASSES

.u-white {
  color: $color-white;

  &:hover {
    color: $color-white;
  }
}

.u-silver {
  color: $color-silver;

  &:hover {
    color: $color-silver;
  }
}

.u-grey {
  color: $color-grey;
}

.u-nav-green {
  color: $color-nav-green;
}

.u-red-bg {
  background-color: $color-red;
}
