<% if policy(match).update? %>
  <div class="text-center underline">
    <%= link_to "Zmeniť údaje", edit_player_match_path(match) %>
  </div>
<% end %>

<% if match.notes %>
  <p><%= match.notes %></p>
<% end %>
